node_modules/
www/
android/.gradle/
android/build/
android/app/build/
android/app/release/
android/app/debug/
android/local.properties
android/captures/
android/.idea/
android/.cxx/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
*.apk
*.aab
*.keystore
*.jks
.DS_Store
